<IfModule mod_expires.c>
 ExpiresActive On
 ExpiresByType image/jpg			"modification plus 1 year"
 ExpiresByType image/jpeg			"modification plus 1 year"
 ExpiresByType image/gif			"modification plus 1 year"
 ExpiresByType image/png			"modification plus 1 year"
 ExpiresByType text/css				"modification plus 1 year"
 ExpiresByType text/html			"modification plus 1 hour"
 ExpiresByType text/javascript			"modification plus 1 hour"
 ExpiresByType application/pdf			"modification plus 1 year"
 ExpiresByType text/x-javascript		"modification plus 1 year"
 ExpiresByType image/x-icon			"modification plus 1 year"
 ExpiresDefault					"modification plus 1 year"
</IfModule>